#profilePic .front {
    width:  300px;
    margin-left:  auto;
    margin-right:  auto;
    position: absolute;

    z-index:9;  

    /* Assign The 3D Transform */
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
        
    /* Transition Effect */
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#profilePic .back {
    width:  300px;
    margin-left:  auto;
    margin-right:  auto;
    position: absolute;

    overflow:hidden;

    z-index:8;  

    /* Assign The 3D Transform */
    -webkit-transform:rotateX(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform:rotateX(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
        
    /* Transition Effect */
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#profilePic.flipping-right .front {
    z-index: 9;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}

#profilePic.flipping-right .back {
    z-index: 10;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

#profilePic.flipping-left .front {
    z-index:9;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}

#profilePic.flipping-left .back {
    z-index:10;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
}